body {
    background-color: #FAF9F6;
    font-family: "Dosis", sans-serif;
    
}

/* Header */
header {
    text-align: center;
}

h1 {
    font-size: 25px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;   
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    
}
.logolink, .logolink:visited, .logolink:active, .logolink:link  {
    text-decoration: none;
    color: #09814A;
}

.navigation {
    grid-column: 3;
    grid-row: auto;
    list-style: none;
    text-align: center;
    background-color: #f7b05b;
}
.navigation-list {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.sandwitch {
    color:#09814A;
    margin: -5px;
}

.media {
    align-self: center;
    justify-self: center;
}

.small-logo {
    width: 75px;
}
.media-icons {
    width: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}


.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #09814A;
    height: 25px;
}

.responsive li {
    display: block;
    padding: 5px;
}

/* Footer */

footer {
    background-color: #09814A;
    color: #FAF9F6;
    padding: 5px 0;
    padding-left:10px;
    
}

#bottom {
    text-align: center;
}

.big-logo {
    width: 150px;
}
.footer-container {
    text-align: center;
}

/*Main*/

.cards {
    background-color: #09814A;
    color: #FAF9F6;
    padding: 15px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.pink-cards {
    background-color: #FC6471;
    color: #FAF9F6;
    padding: 15px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.light-cards {
    background-color: #aceca1;
    color: #FAF9F6;
    padding: 15px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.join {
    display: none;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FAF9F6;
    
}
#center-join {
    text-align: center;
    font-size: 19px;
}
.join-button {
    color:#FAF9F6;
    background-color: #09814A;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    font-size: 40px;
    box-shadow: black 1px 1px 10px 3px;
    text-align: center;
}
a:link {
    text-decoration: none;
}
.forecast {
    background-color: #f7b05b;
    padding: 20px;
    border-radius: 25px;
}
.title-outline {
    color: #FAF9F6;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    text-align: center;
			
}

/* forecast */

.weather-forecast-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.weather-forecast-grid .forecast-grid {
    text-align: center;
}

/* Forms */

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#select-drink {
    text-align: center;
    font-weight: bold;
}