header {
    background-color:#133249;
    text-align: center;
    font-family: 'Lucida Sans';
}
h1 {
    color: white;
    justify-content: center;
    font-family: 'Lucida Sans';
}
h2 {
    color: white;
    background-color: #133249;
    font-family: 'Lucida Sans';
    margin: -10px;
    border-radius: 15px 15px 0 0;
    padding: 10px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}

footer {
    background-color: #133249;
    font-family: 'Lucida Sans';
}
section {
    background-color: lightgray;
    font-family: 'Lucida Sans';
    border-radius: 15px 15px 0 0;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
    
}

#copywrite {
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans';
}

@media only screen and (max-width :425px) {
    main {
        display:block;
        height:auto;
        justify-items: center;
    }
    section {
        margin-top: 10px;
    }
}

@media only screen and (max-width:1439px) and (min-width:426px) {
    main {
        grid-template-areas: 
        "column-1 column-2"
        "column-wide column-wide";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
        
    }
    section {
        margin-top: 10px;
        justify-items: center;
       
    }
    .column-wide{
        grid-area: column-wide;
    }
    .column-1{
        grid-area: column-1;
    }
    .column-2{
        grid-area: column-2;
    }
}
@media only screen and(min-width:1440px) {

}