
@media screen and (min-width:1224px) {

    header {
        text-align: center;
        background-color: #2D3142;
        color: white;
        
        padding-bottom: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #2D3142;
        color: #C5D86D;
        padding: 5px 0;
        
    }

    .box {
        background-color: gray;
        padding: 10px;
        margin-right: 25px;
        margin-left: 25px;
    }

    .navigation {
        font-size: 25px;
        justify-self: flex-end;
        
        
    }

    .navigation-list li:first-child {
        display: none;  
    }

    .navigation-list li{
        display: block;
        flex: 1 1 100%;
    }
    .navigation-list {
        display: flex;
    }

    nav a {
        padding-right: 20px;
        padding-left: 20px;
        color: #C5D86D;
        text-decoration: none;
    }

    nav ul li a{
        border-left: 1px solid lightgrey;
    }
    
    nav ul {
        border-right: 1px solid lightgrey;
        
    }

    .navigation a {
        color:#C5D86D;
        
    }

    

    h1 {
        font-size: 35px;
    }

    .chamber-head {
        font-size: 25px;
        margin-top: -25px;
        margin-right: 25px;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        
    }


    footer {
        background-color: #2D3142;
        color: #C5D86D;
        padding: 5px 0;
        padding-left:10px;
    }

    #bottom {
        text-align: center;
    }

    .small-logo {
        width: 100px;
    }
    .big-logo {
        width: 150px;
    }

    .footer-grid {
        display: flex;
        align-items: center;
        margin-left: 1rem; 
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px 0;
        font-size: 17px;
        
    }
    .contact-grid {
        padding-right: 25px;
        text-align: center;
    }

    .media-icons {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .media {
        align-self: center;
        
    }

    .location {
        text-decoration: none;
        color: #C5D86D;
        
    }

    main {
        display: grid;
        
    }

    .event {
        grid-column: 1;
        grid-row: 1;
        
        margin-bottom: -20px;
        height: 200px;
    }

    .weather {
        grid-column: 1;
        grid-row: 2;
        height: 200px;
    }

    .join {
        display: block;
        grid-column: 1;
        grid-row: 3;
        height: 200px;
        margin-bottom: 20px;
    }

    .hero {
       
        grid-column: 2;
        grid-row: 1 / 3;
       
    }
    .news {
        
        height: 200px;
        grid-column: 2;
        grid-row: 3;
        margin-bottom: 20px;

    }
    .spotlight {
       
        grid-column: 3;
        grid-row: 1/4;
        grid-template-columns: 1fr;
    }
    .spot-3 {
        display: block;
    }
}